.about__name__block-founder img{
    right: -35px;
    transform: scale(0.65);
}


.footer__contact__name img{
    left: 80px;
}

.header__underline {
    position: absolute;
    object-fit: cover;
    transform: scale(0.55);
    bottom: 11px;
    left: 46px;
    z-index: 100;
}
.header__logo_placeholder span{
    left: 309px;
    bottom: 6px;
}

.additional__links .additional__links__name{
    max-width: 550px;
    
}
.additional__links__name p{
    max-width: initial;
}

@media only screen and (max-width: 1370px) {
    .header__underline {
        transform: scale(0.45);
        bottom: 11px;
        left: 22px;
    }
    .header__logo_placeholder span {
        left: 235px;
    bottom: 10px;
    }
}