@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/**! ***COLORS*************/
/**! ***COLORS*************/
/**! ***COLORS*************/
:root {
  --dark: #0F172A;
  --light_green: #7CB040;
  --second_blue: #003A48;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  /* height: 100%;*/
  min-height: 1500px;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  color: #fff;
}

body::-webkit-scrollbar {
  width: 0;
}

body.lock {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-ms-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.main__wrapper {}

/* Add smooth scrolling to the whole page */
html {
  scroll-behavior: smooth;
}

/* Example styles for the sections */
.main__wrapper section {
  padding: 60px 20px;
  height: 100vh;
  border-bottom: 2px solid #000;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: var(--dark); /* Change background color as needed */
  color: #fff; /* Change text color as needed */
  z-index: 1000; /* Ensure the header is above other content */
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 20px; /* Add padding as needed */
}

.header_navigation a {
  margin: 0 10px;
  text-decoration: none;
  color: #fff; /* Ensure links are readable against the header background */
}

.header__nav__language {
  display: flex;
  align-items: center;
}

.hero__container {
  display: flex;
  justify-content: space-between;
  padding-top: 60px; /* To prevent content from being hidden behind the fixed header */
}
