@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/**! ***COLORS*************/
/**! ***COLORS*************/
/**! ***COLORS*************/
:root {
  --dark: #0f172a;
  --green: #007931;
  --light_green: #7cb040;
  --second_blue: #003a48;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  /* height: 100%;*/
  min-height: 1500px;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #fff;
}

body::-webkit-scrollbar {
  width: 0;
}

body.lock {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-ms-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.main__wrapper {
  margin-top: 60px;
}

/* Add smooth scrolling to the whole page */
html {
  scroll-behavior: smooth;
}

/* Example styles for the sections */
.main__wrapper section {
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 105px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #fff;
  /* Change background color as needed */
  z-index: 1000;
  /* Ensure the header is above other content */
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  padding: 0px 80px 0px 40px;
}
.header__logo_placeholder {
  position: relative;
  height: 80px;
  display: flex;
  align-items: center;
}
.header__underline {
  position: absolute;

  object-fit: cover;
  transform: scale(0.7);
  bottom: 6px;
  left: 50px;
  z-index: 100;
}
.header__logo_img {
  height: 100%;
}
.header__logo_placeholder p {
  display: block;
  width: 360px;
  margin-left: 10px;
  position: relative;
  z-index: 200;

  font-size: 28px;
  background: linear-gradient(to right, #00743e, #002e3a);
  /* Define your gradient colors here */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* Example font size */
  font-weight: bold;
  /* Example font weight */
  max-width: 467px;
}
.header_navigation {
  margin-right: 24px;
}

.header_navigation a {
  margin: 0 10px;
  text-decoration: none;
  color: var(--dark);
  /* Ensure links are readable against the header background */
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
  position: relative;
  z-index: 200;
}
.header_navigation a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 10px;
  background-image: url("../assets/underline.svg");
  background-size: contain;
  background-repeat: no-repeat;
  bottom: -7px;
  z-index: 100;
  opacity: 0;
}
.header_navigation a:hover::before {
  opacity: 1;
}
.header_navigation a:hover {
  background: linear-gradient(to right, #00743e, #002e3a);
  /* Define your gradient colors here */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header__nav__language {
  display: flex;
  align-items: center;
}
.header__language {
  height: 48px;
  width: 77px;
  color: #fff;
  padding: 12px;
  border-radius: 18px;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 1s ease-in; /* Transition duration set to 1 second */
}

.language__block {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
}
.dropdown {
  position: relative;
  display: inline-block;
  width: 77px;
  height: 48px;
}
.dropdown-content {
  display: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  background: rgb(0, 104, 56);
  background: linear-gradient(
    90deg,
    rgba(0, 58, 72, 1) 0%,
    rgba(0, 104, 56, 1) 100%
  );
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 0px 0px 18px 18px;
  bottom: -72%;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
}
.dropdown:hover .dropdown-content {
  display: flex;
}
.dropdown-button {
  background: rgb(0, 104, 56);
  background: linear-gradient(
    90deg,
    rgba(0, 104, 56, 1) 0%,
    rgba(0, 58, 72, 1) 100%
  );
  color: white;
  padding: 12px;
  border: none;
  cursor: pointer;
  border-radius: 18px;
  width: 100%;
  height: 100%;

  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;

  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown:hover .dropdown-button {
  background: rgb(0, 104, 56);
  background: linear-gradient(
    90deg,
    rgba(0, 58, 72, 1) 0%,
    rgba(0, 104, 56, 1) 100%
  );
}

.hero__container {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  /* To prevent content from being hidden behind the fixed header */

  position: relative;
}

.hero__desc {
  position: absolute;
  left: 10%;
  height: 320px;
  width: 473px;
  top: calc(50% - 160px);
  color: var(--dark);
}

.hero__name {
  color: #0f172a;
  font-size: 72px;
  font-weight: 800;
  line-height: 79.2px;
  text-align: left;
  height: 158px;

  position: relative;
}

.hero__name p {
  z-index: 300;
  position: absolute;
}

.hero__name img {
  z-index: 200;
  position: absolute;
  top: 60px;
  left: 13px;
}

.hero__desc_text {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 76.8px;
  text-align: left;
  color: var(--dark);
}

.hero__button {
  margin-top: 40px;
  height: 64px;
  width: 247px;
  background: rgb(0, 104, 56);
  background: linear-gradient(
    90deg,
    rgba(0, 104, 56, 1) 0%,
    rgba(0, 58, 72, 1) 100%
  );
  border-radius: 8px;
}

.hero__button a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
}

.hero__image {
  position: absolute;
  right: 8%;
  top: calc(50% - 259px);
  transform: scale(1.2);
}

.about_us {
  height: 540px;
  width: 100%;
  position: relative;
}
.from_founder {
  position: relative;
}
.sheet__container {
  position: absolute;
  z-index: 100;
}
.sheet__container1 {
  right: 0;
  top: -160px;
}
.sheet__container2 {
  left: -47px;
  top: -206px;
  width: 305.25px;
  height: 387.09px;
  transform: rotate(-3deg);
}
.sheet__container2 img{
  width: 100%;
  height: 100%;
}
.about__container {
  z-index: 200;
  position: relative;
  z-index: 200;
  width: 100%;
  height: 100%;
  padding: 0px 49px;
}

.about__name__block {
  width: 100%;
  position: relative;
  height: 62px;
}

.about__name {
  font-size: 56px;
  font-weight: 800;
  line-height: 61.6px;
  text-align: left;
  position: absolute;
  z-index: 200;
}

.about__name__block img {
  position: absolute;
  z-index: 100;
  bottom: -11px;
}

.gradient-text {
  background: linear-gradient(to right, #006838, #002e3a);
  /* Define your gradient colors here */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  /* Example font size */
  font-weight: bold;
  /* Example font weight */
  max-width: 467px;
}

.about__wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 37px;
}

.about__images {
  width: 668px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 408px;
}

.about__images__line1 {
  height: 192px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.about__images__line2 {
  height: 192px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.about__image__block1 {
  width: 264px;
  height: 192px;
  background-color: #003a48;
  background-image: url("../assets/about/1.png");
}

.about__image__block2 {
  width: 264px;
  height: 192px;
  background-color: #003a48;
  margin-left: 24px;
  background-image: url("../assets/about/2.png");
}

.about__image__block3 {
  height: 192px;
  width: 192px;
  background-color: #003a48;
  background-image: url("../assets/about/3.png");
}

.about__image__block4 {
  height: 192px;
  width: 345px;
  background-color: #003a48;
  margin-left: 24px;
  background-image: url("../assets/about/4.png");
}

.about__image__block {
  border-radius: 20px;
  background-position: center;
  background-size: cover;
}

.about__text {
  width: 48%;
  height: 100%;
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
  color: var(--dark);

  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
}

.founder__wrapper {
  flex-direction: row-reverse;
}

.founder__wrapper .about__images {
  width: 500px;
  height: 471px;
  box-shadow: 0px 0px 10px 0px #00000012;
  border-radius: 20px;
  gap: 10px;
  box-shadow: 0px 20px 25px -5px #0000001a;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.founder__wrapper .about__images img {
  width: 100%;
}

.founder__wrapper .about__text {
  width: 600px;
}

.founder__name {
  font-size: 48px;
  font-weight: 600;
  line-height: 76.8px;
  text-align: left;
  color: var(--second_blue);
  margin-bottom: 5px;
}
.founder__position {
  color: var(--green);
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 18px;
}
.about__name__block-founder {
  text-align: right;

  width: 90%;
  margin: 0 auto;
}

.about__name__block-founder .about__name {
  position: absolute;
  right: 0;
}

.about__name__block-founder img {
  position: absolute;
  z-index: 100;
  bottom: -11px;
  right: 168px;
}

.activities {
  width: 100%;
  height: 520px;
  margin-top: 80px;
}

.activities__wrapper {
  width: 100%;
  height: 374px;
}

.activities__name_block {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 63px;
}

/*****SWIPER********/
.activities__wrapper,
.news__wrapper {
  position: relative;
  width: calc(3 * 410px + 2 * 30px + 120px);
  /* Increase width to fit navigation buttons */
  margin: 0 auto;
}

.swiper {
  width: calc(3 * 410px + 2 * 30px);
  /* 3 slides + 2 spaces between slides */
  height: 352px;
  position: relative;
  overflow: hidden;
  /* Hide overflow to ensure only 3 slides are visible */
}

.swiper-slide {
  width: 410px !important;
  height: 352px !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {
  color: #00000000;
  /* Customize button color */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 44px;
  height: 44px;
  /* Semi-transparent background */

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev {
  left: -60px;
  /* Position outside the Swiper container */
}

.swiper-button-next {
  right: -60px;
  /* Position outside the Swiper container */
}

.swiper-button-prev::after,
.swiper-button-next::after {
  width: 69px;
  height: 50px;

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.swiper-button-next::after {
  background-image: url("../assets/next.svg");
}

.swiper-button-prev::after {
  background-image: url("../assets/prev.svg");
}

/***SLİDE********/
.slider__container {
  width: 100%;
  height: 100%;
}

.slider__image {
  width: 410px;
  height: 220px;
  overflow: hidden;
}

.slider__image img {
  width: 100%;
  object-fit: cover;
}

.slider__desc__container {
  height: 154px;
  width: 100%;
}

.slider__desc__desc {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 500;
  line-height: 17.6px;
  text-align: left;

  color: var(--second_blue);
}

.slider__desc__name {
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
  text-align: left;
  color: var(--second_blue);
}

.slider__desc__button button {
  margin-top: 16px;
  width: 158px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0);
}

.slider__desc__button p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
  color: var(--green);
}

.slider__desc__button img {
  height: 24px;
  width: 24px;
}

/*****Connections******/
.connections {
  width: 100%;
  min-height: 300px;
  position: relative;
}
.sheet__container3 {
  right: 0;
  top: -100px;
}
.connection__container {
  position: relative;
  z-index: 200;
}
.connections__name {
  background: linear-gradient(to right, #006838, #002e3a);
  /* Define your gradient colors here */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  /* Example font size */
  font-weight: bold;
  /* Example font weight */
  width: 400px;
  margin: 0 auto;
  margin-top: 80px;
}

.connections__desc {
  max-width: 900px;
  color: var(--dark);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: center;
  margin: 0 auto;
  margin-top: 24px;
  margin-bottom: 55px;
}

.connections__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1252px;
  margin: 0 auto;
}

.connection__element {
  width: 366px;
  max-height: 700px;
}

.connection__element__image {
  width: 100%;
  height: 78px;
  margin-bottom: 46px;
}

.connection__element__image img {
  height: 100%;
  object-fit: contain;
}

.connection__name {
  color: var(--dark);
  font-size: 24px;
  font-weight: 700;
  line-height: 26.4px;
  text-align: left;
  margin-bottom: 16px;
}

.connection__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
  color: var(--dark);
}

/********NEWS***********/
.news {
  margin-top: 60px;
}

.news__name_block {
  width: 1280px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 40px;
  height: 63px;
}

.news__name_block p {
  font-size: 56px;
  font-weight: 800;
  line-height: 61.6px;
  position: absolute;
  right: 0;
  z-index: 200;
}

.news__name_block img {
  position: absolute;
  right: 0;
  z-index: 100;
  bottom: -14px;
}

/************footer**************/
.footer {
  margin-top: 50px;
  z-index: 200;

  position: relative;
}
.sheet__container5 {
  top: -80%;
}
.footer__container {
  width: 100%;
}

.footer__contact__block {
  max-width: 1412px;
  margin: 0 auto;
  height: 531px;
  display: flex;
  justify-content: space-between;
  background-image: url("../assets/footer.png");
  background-position: center;
  background-size: cover;
  border-radius: 20px;

  padding: 35px 40px 35px 57px;
}

.footer__contact__data {
  width: 491px;
  height: 464px;
  border-radius: 20px;
  background-color: #ffffff99;
  padding: 30px;
}

.footer__contact__name {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 38px;
  position: relative;
}

.footer__contact__name p {
  z-index: 200;

  font-size: 56px;
  font-weight: 800;
  line-height: 61.6px;
}

.footer__contact__name img {
  position: absolute;
  left: 50px;
  bottom: -18px;
}

.footer__contact__element {
  height: 45px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.contact__element__image {
  height: 45px;
  width: 45px;
  background-color: var(--light_green);
  border-radius: 6px;
  margin-right: 21px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__contact__element:hover .contact__element__image {
  background: rgb(0, 104, 56);
  background: linear-gradient(
    90deg,
    rgba(0, 104, 56, 1) 0%,
    rgba(0, 58, 72, 1) 100%
  );
}

.contact__element__name {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
  color: var(--dark);
}

.footer__contact__form {
  width: 798px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__form {
  width: 798px;
  height: 357px;
  background-color: #ffffff99;
  border-radius: 20px;
}

.footer__form__content {
  display: flex;

  justify-content: space-between;
  width: 698px;
  margin: 0 auto;
  padding-top: 50px;
}

.footer__form__block {
  width: 320px;
}

.footer__form__name {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.5px;
  text-align: left;
  color: var(--second_blue);
}

.footer__input {
  height: 40px;
  width: 100%;
  margin-top: 8px;
  border: 1px solid #7cb040;
  border-radius: 8px;
  overflow: hidden;
}

.footer__input input {
  width: 100%;
  height: 100%;
  border-bottom: 3px solid var(--second_blue);
  padding: 5px 18px;
  color: var(--dark);
}

.footer__form__textinput {
  height: 148px;
  width: 100%;
  margin-top: 8px;
  border: 1px solid #7cb040;
  border-radius: 8px;
  overflow: hidden;
}

.footer__form__textinput textarea {
  width: 100%;
  height: 100%;
  border-bottom: 3px solid var(--second_blue);
  padding: 10px 20px;
}

.footer__form__button {
  width: 100%;
  margin-top: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__form__button button {
  margin: 0 auto;
  height: 64px;
  width: 350px;
  background: rgb(0, 104, 56);
  background: linear-gradient(
    90deg,
    rgba(0, 104, 56, 1) 0%,
    rgba(0, 58, 72, 1) 100%
  );
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__form__button p {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
}

.footer__navigation {
  width: 798px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ffffff99;
  border-radius: 20px;
  padding: 0px 80px;
}

.footer__navigation a {
  color: var(--dark);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
}

.footer__form__name2 {
  margin-top: 10px;
  margin-bottom: 4px;
}

.footer__rights__created {
  margin-top: 20px;
  margin-bottom: 15px;
  width: 100%;
  padding: 0px 33px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__rights {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
  color: var(--second_blue);
}

.footer__created {
  display: flex;
  align-items: center;
}

.footer__created p {
  color: #00000059;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.5px;
  text-align: left;
  margin-right: 28px;
}
/***********POPUP*************/

/* Popup container */

/* Popup container */
.popup {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fff;
  margin: auto;
  padding: 45px;
  border: 1px solid #888;
  width: 1200px;
  height: 704px;
  text-align: center;
  position: relative;
  border-radius: 10px;
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 69px;
  height: 80px;
}
.close-btn img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.popup-image {
  width: 520px;
  height: 347px;
  border-radius: 20px;
}
.popup__content__wrapper {
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
}
.popup__name__container {
  height: 62px;
  position: relative;
  margin-bottom: 62px;
}
.popup__name__container img {
  z-index: 100;
  position: absolute;
  left: 0;
  bottom: -15px;
}
.popup-name {
  height: 62px;
  position: absolute;
  z-index: 200;
  text-align: initial;
  font-size: 56px;
  font-weight: 800;
  line-height: 61.6px;
  background: linear-gradient(to right, #006838, #002e3a);
  /* Define your gradient colors here */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 686px;
}

.popup-text {
  width: 500px;
  height: 390px;
  overflow-y: auto;
  padding: 0px 15px 0px 0px;

  display: block;
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
  color: var(--dark);
}
.popup-link {
  display: none; /* Initially hide the link */
  color: #fff;
  text-decoration: none;
  margin-top: 15px;
  display: inline-block;
  width: 247px;
  height: 64px;

  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.5px;

  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 30px;
  background: linear-gradient(to right, #006838, #002e3a);
}

.no-scroll {
  overflow: hidden;
}

/* Custom Scrollbar */
.popup-text::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

.popup-text::-webkit-scrollbar-track {
  background: var(--light_green); /* Color of the scrollbar track */
  border-radius: 10px; /* Rounding the corners */
}

.popup-text::-webkit-scrollbar-thumb {
  background: var(--green); /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounding the corners */
}
.about__images__line2-mobile {
  display: none;
  visibility: hidden;
}
@media only screen and (max-width: 1690px) {
  .hero__image {
    transform: scale(0.9);
    right: 5%;
  }
  .popup-name {
    font-size: 40px;
  }
  .activities__wrapper,
  .news__wrapper {
    width: calc(3 * 390px + 2 * 20px + 120px);
  }

  .swiper {
    width: calc(3 * 390px + 2 * 20px);
  }

  .swiper-slide {
    width: 390px !important;
  }
}

@media only screen and (max-width: 1480px) {
  .hero__image {
    transform: scale(0.9);
    right: -2%;
  }
  .about__text {
    max-width: 480px;
  }
  .about_us {
    height: 100%;
    margin-bottom: 40px;
  }
  .activities__wrapper,
  .news__wrapper {
    width: calc(3 * 370px + 2 * 20px + 120px);
  }

  .swiper {
    width: calc(3 * 370px + 2 * 20px);
  }

  .swiper-slide {
    width: 370px !important;
  }
  .slider__image {
    width: 100%;
  }
  .slider__desc__name {
    font-size: 28px;
  }
}

@media only screen and (max-width: 1370px) {
  .header {
    height: 80px;
  }
  .header__logo_placeholder {
    height: 65px;
  }
  .hero__image {
    right: -8%;
    transform: scale(0.75);
  }
  .header__logo_placeholder p {
  }
  .header__underline {
    bottom: -3px;
    left: 39px;
  }
  .popup-content {
    width: 1100px;
    height: 600px;
    padding: 25px;
  }
  .popup__name__container {
    margin-bottom: 20px;
  }
  .popup-name {
    font-size: 35px;
  }
  .popup__name__container img {
    transform: scale(0.7);
    left: -24px;
    bottom: -5px;
  }
  .popup-text {
    height: 350px;
  }
  .footer__contact__name p {
    font-size: 40px;
  }
  .footer__contact__name img {
    transform: scale(0.7);
    bottom: -10px;
  }
  .footer__contact__data {
    padding: 20px;
    width: 423px;
  }
  .activities__wrapper,
  .news__wrapper {
    width: calc(3 * 350px + 2 * 15px + 120px);
  }

  .swiper {
    width: calc(3 * 350px + 2 * 15px);
  }

  .swiper-slide {
    width: 350px !important;
  }
}
@media only screen and (max-width: 770px) {
  .header_navigation {
    display: none;
    visibility: hidden;
  }
  .dropdown {
    display: none;
    visibility: hidden;
  }

  /***! ************/
  /***! ************/
  /***! ************/

  .activities__wrapper {
    display: none;
    visibility: hidden;
  }
  .news {
    display: none;
    visibility: hidden;
  }
  .footer {
    display: none;
    visibility: hidden;
  }
  /***! ************/
  /***! ************/
  /***! ************/
  /***! ************/
  /***! ************/
  /***! ************/

  .connections__wrapper {
    flex-direction: column;
    width: 100%;
  }
  .about__wrapper {
    flex-direction: column;
  }
  .about__images {
    width: 100%;
  }

  .hero__container {
    min-height: 50vh;
    width: 100%;

    display: flex;
    z-index: 500;
    flex-direction: column-reverse;
  }
  .hero__image {
    position: initial;
    transform: initial;
    right: initial;
    left: initial;
    max-width: 80%;
    margin: 0 auto;
    transform: rotate(-4deg);
    top: initial;
  }
  .hero__image img {
    width: 100%;
  }

  .hero__desc {
    position: initial;
    width: 80%;
    margin: 0 auto;
    height: 280px;
    margin-top: 30px;
  }
  .hero__name {
    height: 50px;
    width: 100%;
  }
  .hero__name br {
    display: none;
  }
  .hero__name p {
    font-size: 40px;
    font-weight: 800;
    line-height: 52.8px;
    text-align: left;
  }
  .hero__desc_text {
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
  }
  .hero__name img {
    position: absolute;
    transform: scale(0.65);
    top: 35px;
    left: -30px;
  }
  .hero__button {
    margin: 0 auto;
    margin-top: 28px;
  }

  .sheet__container1 {
    top: -320px;
  }

  .sheet__container1 img {
    width: 240.96px;
    height: 325px;
  }

  .gradient-text {
    font-size: 36px;
  }

  .about__name__block img {
    transform: scale(0.7);
    bottom: -4px;
    left: 43px;
  }

  .about__text {
    max-width: initial;
    width: 100%;
  }
  .about__images {
    height: 128px;
    width: 100%;
    margin-bottom: 29px;
    position: relative;
  }
  .about__images__line2 {
    display: none;
    visibility: hidden;
  }
  .about__images__line1 {
    height: 128px;
    position: absolute;
    right: -50px;
  }
  .about__image__block1 {
    width: 164px;
    height: 128px;
  }
  .about__image__block2 {
    width: 164px;
    height: 128px;
  }
  .about__images__line2-mobile {
    display: flex;
    visibility: visible;
    margin-top: 25px;
    position: relative;
    width: 100%;
  }
  .about__image__block3 {
    display: none;
    visibility: hidden;
  }
  .about__image__block4 {
    position: absolute;
    left: -100px;
    width: 360px;
  }
  .about__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    text-align: left;
  }
  /*************************/
  .about__container-mobile {
    padding: 0;
    width: 90%;
    margin: 0 auto;
  }

  .founder__wrapper {
    display: none;
    visibility: hidden;
  }

  .founder__wrapper-mobile {
    width: 90%;
    margin: 0 auto;
    margin-top: 29px;
  }
  .founder-mobile__image__name {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .foundr__mobile__name {
    color: var(--second_blue);
    font-size: 32px;
    font-weight: 600;
    line-height: 51.2px;
    text-align: left;
  }
  .foundr__mobile__imge {
    height: 195px;
    width: 180px;
    border-radius: 20px;
    overflow: hidden;
  }
  .foundr__mobile__imge img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .founder__mobile__desc {
    margin-top: 30px;
    color: var(--dark);
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    text-align: left;
  }
}
